{% extends 'base.html.twig' %}

{% block title %}Team List{% endblock %}

{% block body %}
    <div class="block">
        <h2>Team list</h2>
        {% for team in team_list %}
            <div>{{ team.name }}</div>
        {% endfor %}
    </div>

    {% include 'team/blocks/add.html.twig' %}
{% endblock %}