body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item {
    padding-top: 20px;
    display:inline-block;
}

.menu_item a {
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
    outline: none;
    text-decoration: none;
    font-style: normal;
    font-size: 0.8rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.block {
    padding: 20px;
}

.tournament_day {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tournament_game {
    padding-left: 20px;
}