{% extends 'base.html.twig' %}

{% block title %}Tournament List{% endblock %}

{% block body %}
    <div class="block">
        <h2>Tournament list</h2>
        {% if tournament_list|length == 0 %}
            <div>No tournaments yet</div>
        {% else %}
            {% for tournament in tournament_list %}
                <div>{{ tournament.name }}</div>
            {% endfor %}
        {% endif %}
    </div>

    {% include 'tournament/blocks/add.html.twig' %}
{% endblock %}
